html {
  height: 100%;
}
body {
  background: linear-gradient(117deg, #ff41f7 0%, rgba(255, 73, 73, 0.81) 100%);
}
h1 {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn {
  color: gray;
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  margin: 25px 10px;
  font-weight: bold;
}
.btn:hover {
  background-color: #ff4690;
  border: 2px solid white;
}
@media (max-width: 1148px) {
  h1 {
    font-size: 50px;
  }
  .btn {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 795px) {
  h1 {
    font-size: 40px;
  }
}
#showMessage {
  display: none;
}
#showMessage h1 {
  font-size: 50px;
}
/* Animate Text */
.ml6 {
  position: relative;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Footer */
footer {
  color: #fff;
}
footer a {
  color: white;
  text-decoration: none;
}
