body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

/* outlets section */

h2{
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
}

.outlets-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.outlet{
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.outlet:hover{
    transform: scale(1.05);
}

.outlet img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* google map */

.map-container{
    text-align: center;
    margin: 40px 0;
}

iframe{
    width: 80%;
    height: 400px;
    border: none;
    border-radius: 10px;
}

/* Footer */

.footer{
    background-color: #013220;
    color:white;
    padding: 40px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    max-width: 1200px;
    margin:auto;
    text-align: left;
}

.footer-logo img{
    width: 100px;
}

.footer-section h3, .footer-social h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p a{
    text-decoration: none;
    color:white;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.footer-section p a:hover{
    color: #ddd;
}

.app-buttons a img{
    width: 120px;
    height: 40px;
    margin-top: 10px;
}