body{
    margin:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(69, 129, 189);
    font-family: "poppins",sans-serif;
}

h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}

.game-box{
    background: #fff;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

h2{
    margin-bottom: 15px;
    color: #130704;
}

.scrambled
{
    font-size: 26px;
    font-weight: bold;
    margin: 15px 0;
    color: #333;
}

input{
    padding: 10px;
    width: 90%;
    border: 2px solid #887979;
    border-radius: 8px;
    outline: none;
    margin-bottom:15px;
    font-size: 15px;
    text-align: center;
}

button{
    background: #ff5722;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    color:#fff;
    font-weight: bold;
    margin: 5px;
    transition: 0.2s;
}

button:hover{
    background:#e64a19;
}

#result{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}